<h4 ng-if="!bookmarkSaveCtrl.editedBookmark.id">Create a bookmark in
  <span class="text-muted">{{bookmarkSaveCtrl.category}}</span>
</h4>
<h4 ng-if="bookmarkSaveCtrl.editedBookmark.id">Editing {{bookmarkSaveCtrl.editedBookmark.title}}</h4>

<form class="edit-form" role="form"
      ng-submit="bookmarkSaveCtrl.save(bookmarkSaveCtrl.editedBookmark)" 
      novalidate>
  <div class="form-group">
    <label>Bookmark Title</label>
    <input type="text" class="form-control" ng-model="bookmarkSaveCtrl.editedBookmark.title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label>Bookmark URL</label>
    <input type="text" class="form-control" ng-model="bookmarkSaveCtrl.editedBookmark.url" placeholder="Enter URL">
  </div>
  <button type="submit" class="btn btn-info btn-lg">Save</button>
  <button type="button" class="btn btn-default btn-lg pull-right" ng-click="bookmarkSaveCtrl.cancel()">Cancel</button>
</form>
